// COLORS
$color-background = #F6F6F6
$color-background-top-menu = rgb(255, 255, 255)
$color-background-content = #FFFFFF
$color-paragraph = #0080FF
$color-light-black = #333333
$color-lighten-grey = #E9E9E9
$color-light-grey = #F2F2F2
$color-light-grey-darken = #DCDCDC
$color-grey = #E0E0E0
$color-grey-dc = #DCDCDC
$color-dark-grey = #BDBDBD
$color-darken-grey = #828282
$color-blue = #0080FF
$color-red = #EB5757
$color-yellow = #F2C94C
$color-green = #27AE60
$color-white = #FFFFFF
$color-grey-5 = #555555